In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Data.csv')
data

,Age,Workclass,fnlwgt,Education,Education_Num,Martial_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Country,Target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38491,29,Private,87632,11th,7,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K.
38492,22,Private,228394,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,36,United-States,<=50K.
38493,59,State-gov,200732,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,Philippines,>50K.
38494,36,Private,49657,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K.
38495,27,Local-gov,106179,Bachelors,13,Married-spouse-absent,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K.
38496,21,Private,135267,Assoc-acdm,12,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
38497,65,NaN,486436,Some-college,10,Married-civ-spouse,NaN,Husband,White,Male,0,0,45,United-States,>50K.
38498,29,Private,69757,Bachelors,13,Divorced,Exec-managerial,Other-relative,White,Female,0,0,50,United-States,<=50K.
38499,53,Private,190319,Bachelors,13,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,0,1485,40,Thailand,>50K.
38500,20,Private,188409,Some-college,10,Never-married,Transport-moving,Not-in-family,White,Male,0,0,60,United-States,<=50K.
38501,54,Private,181246,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K.
38502,32,Private,103573,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K.
38503,18,Private,180725,11th,7,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,<=50K.
38504,26,State-gov,34862,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,38,NaN,<=50K.
38505,55,Self-emp-inc,275236,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,>50K.
38506,40,Self-emp-not-inc,76487,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K.
38507,37,Federal-gov,75073,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,Black,Male,0,0,42,United-States,<=50K.
38508,23,Private,231929,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K.
38509,45,Private,186410,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Male,0,0,38,United-States,<=50K.
38510,42,Self-emp-not-inc,344624,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,99,United-States,>50K.
38511,66,Private,97847,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,38,United-States,<=50K.
38512,30,Private,387521,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7298,0,40,United-States,>50K.
38513,25,NaN,193511,Bachelors,13,Never-married,NaN,Own-child,White,Female,0,0,35,El-Salvador,<=50K.
38514,20,Private,325033,12th,8,Never-married,Other-service,Own-child,Black,Male,0,0,35,United-States,>50K.
38515,37,Private,285637,HS-grad,9,Never-married,Transport-moving,Not-in-family,Black,Male,0,0,50,United-States,<=50K.
38516,20,Private,186014,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,38,United-States,<=50K.
38517,27,Private,203160,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K.
38518,20,NaN,190290,Some-college,10,Never-married,NaN,Own-child,White,Male,0,0,35,United-States,<=50K.
38519,33,Private,219553,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K.
38520,53,Private,290882,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K.

In [3]:
data.isnull().sum()

Age                  0
Workclass         2214
fnlwgt               0
Education            0
Education_Num        0
Martial_Status       0
Occupation        2221
Relationship         0
Race                 0
Sex                  0
Capital_Gain         0
Capital_Loss         0
Hours_per_week       0
Country            676
Target               0
dtype: int64

In [4]:
data.shape

(38521, 15)

In [59]:
data = data.fillna('0')
data.head()

,Age,Workclass,Education,Education_Num,Martial_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Country,Target
fnlwgt,,,,,,,,,,,,,,
77516,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
83311,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
215646,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
234721,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
338409,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [60]:
data.isnull().sum()

Age               0
Workclass         0
Education         0
Education_Num     0
Martial_Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital_Gain      0
Capital_Loss      0
Hours_per_week    0
Country           0
Target            0
dtype: int64

In [61]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.grid_search import GridSearchCV

In [62]:
y = data['Target']
x = data.drop(['Target'],axis=1)
x = pd.get_dummies(x)
x.shape

(38521, 107)

In [63]:
logit = LogisticRegression()

In [64]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.25,random_state = 42)

In [65]:
logit.fit(xtrain,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [66]:
pred1 = logit.predict(xtest)

In [67]:
print(accuracy_score(pred1,ytest))

0.7207974249818295

In [68]:
dectree = DecisionTreeClassifier()

In [69]:
dectree.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [70]:
pred2 = dectree.predict(xtest)
print(accuracy_score(pred2,ytest))

0.6088671996677396

In [71]:
randfor = RandomForestClassifier(criterion='gini',max_leaf_nodes=30)

In [72]:
randfor.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=30,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [73]:
pred3 = randfor.predict(xtest)
print(accuracy_score(pred3,ytest))

0.7147752050669712

In [74]:
param_test = {'n_estimators':[125,150,175]}
gridsearch = GridSearchCV(estimator=randfor,param_grid=param_test,verbose = 10)
gridsearch.fit(xtrain,ytrain)

Fitting 3 folds for each of 3 candidates, totalling 9 fits
[CV] n_estimators=125 ................................................
[CV] ....................... n_estimators=125, score=0.715398 -   1.5s
[CV] n_estimators=125 ................................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.5s remaining:    0.0s

[CV] ....................... n_estimators=125, score=0.717890 -   1.5s
[CV] n_estimators=125 ................................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    3.1s remaining:    0.0s

[CV] ....................... n_estimators=125, score=0.716867 -   1.5s
[CV] n_estimators=150 ................................................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    4.7s remaining:    0.0s

[CV] ....................... n_estimators=150, score=0.714464 -   1.8s
[CV] n_estimators=150 ................................................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    6.6s remaining:    0.0s

[CV] ....................... n_estimators=150, score=0.719136 -   2.0s
[CV] n_estimators=150 ................................................

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    8.7s remaining:    0.0s

[CV] ....................... n_estimators=150, score=0.717491 -   1.9s
[CV] n_estimators=175 ................................................

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:   10.6s remaining:    0.0s

[CV] ....................... n_estimators=175, score=0.715917 -   2.2s
[CV] n_estimators=175 ................................................

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:   12.9s remaining:    0.0s

[CV] ....................... n_estimators=175, score=0.718513 -   2.2s
[CV] n_estimators=175 ................................................

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:   15.2s remaining:    0.0s

[CV] ....................... n_estimators=175, score=0.718218 -   2.2s

[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:   17.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:   17.5s finished

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=30,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_estimators': [125, 150, 175]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=10)

In [75]:
pred4 = gridsearch.predict(xtest)
print(accuracy_score(pred4,ytest))

0.7159173502232374

In [76]:
adaboost = AdaBoostClassifier(base_estimator=randfor,n_estimators=175)

In [77]:
adaboost.fit(xtrain,ytrain)

AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=30,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
          learning_rate=1.0, n_estimators=175, random_state=None)

In [78]:
pred5 = adaboost.predict(xtest)
print(accuracy_score(pred5,ytest))

0.6276606790572111

In [79]:
mpl = MLPClassifier()

In [80]:
mpl.fit(xtrain,ytrain)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [81]:
pred6 = mpl.predict(xtest)

In [82]:
print(accuracy_score(pred6,ytest))

0.6870522271830547

In [83]:
#Clustering

In [84]:
from sklearn.cluster import KMeans

In [85]:
mod  = KMeans(n_clusters= 3)

In [86]:
data2 = pd.get_dummies(data)

In [87]:
modfit = mod.fit(data2)

In [88]:
clust1 = modfit.predict(data2)
clust1

array([0, 0, 0, ..., 0, 0, 0])

In [89]:
data_arr = data2.values

In [90]:
clust2 = clust1.reshape(1,-1)

In [91]:
clust2

array([[0, 0, 0, ..., 0, 0, 0]])

In [92]:
test = pd.read_csv('TEST.csv')
test.head()

,Age,Workclass,fnlwgt,Education,Education_Num,Martial_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Country,Target
0,54,Private,133403,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,1902,35,United-States,<=50K.
1,33,Private,150154,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K.
2,22,Private,203076,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K.
3,39,Private,158592,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,40,United-States,<=50K.
4,23,Federal-gov,215115,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,25,United-States,<=50K.

In [93]:
test.isnull().sum()

Age                 0
Workclass         585
fnlwgt              0
Education           0
Education_Num       0
Martial_Status      0
Occupation        588
Relationship        0
Race                0
Sex                 0
Capital_Gain        0
Capital_Loss        0
Hours_per_week      0
Country           181
Target              0
dtype: int64

In [94]:
test = test.fillna('0')
test.isnull().sum()
test = test.drop(['Target'],axis=1)

In [95]:
test2 = pd.get_dummies(test)
test2.shape

(10321, 107)

In [96]:
pred_test = randfor.predict(test2)

In [97]:
pred_test

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' <=50K'],
      dtype=object)